# the following env vars must be provided:
#
DB_URI=< mongodb+srv://... or wherever your MongoDB can be found >

# optionally, the following env vars may be provided (default values shown here):
#
PORT=3001
